In [1]:
import pandas as pd
import pandas_profiling

In [86]:
train = pd.read_csv('data/challenge3_train.csv')

train = pd.get_dummies(train, columns=['f5', 'f15', 'f20'])

In [87]:
train

,id,target,f0,f1,f2,f3,f4,f6,f7,f8,...,f20_Q,f20_R,f20_S,f20_T,f20_U,f20_V,f20_W,f20_X,f20_Y,f20_Z
0,0,1,0.0,5.0,0.0,4.0,3598.0,3.0,-7.2430,13.9681,...,0,0,0,0,0,0,0,0,0,0
1,1,0,NaN,5.0,4.0,NaN,2072.0,4.0,-1.6662,14.0242,...,0,0,0,0,0,0,0,0,0,0
2,2,0,1.0,1.0,4.0,2.0,862.0,3.0,-0.1200,14.2174,...,0,0,0,0,0,0,0,0,0,0
3,3,0,NaN,NaN,2.0,1.0,409.0,5.0,-16.2169,13.8536,...,0,0,0,0,0,0,0,0,0,0
4,4,1,NaN,5.0,0.0,3.0,222.0,5.0,-8.1088,14.2347,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49995,0,0.0,NaN,0.0,3.0,NaN,2.0,-11.3863,14.1977,...,0,0,0,0,0,0,0,0,0,0
49996,49996,1,NaN,3.0,2.0,3.0,224.0,5.0,-1.6275,14.2944,...,0,0,0,0,0,0,0,0,0,0
49997,49997,1,NaN,2.0,3.0,NaN,2363.0,5.0,-5.7965,14.1513,...,0,1,0,0,0,0,0,0,0,0
49998,49998,1,NaN,4.0,0.0,4.0,163.0,4.0,3.1996,14.2168,...,0,0,0,0,0,0,0,0,0,0
49999,49999,1,0.0,3.0,2.0,NaN,628.0,2.0,-11.3859,14.2063,...,0,0,0,0,1,0,0,0,0,0

In [88]:
import numpy as np
from deeptables.models import deeptable, deepnets
from deeptables.datasets import dsutils
from sklearn.model_selection import train_test_split

#loading data
df = train
df_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

y = df_train.pop('target')
y_test = df_test.pop('target')

#training
config = deeptable.ModelConfig(nets=deepnets.DeepFM)
dt = deeptable.DeepTable(config=config)
model, history = dt.fit(df_train, y, epochs=10)

#evaluation
result = dt.evaluate(df_test, y_test, batch_size=512, verbose=0)
print(result)

#scoring
preds = dt.predict_proba(df_test)

2 class detected, {0, 1}, so inferred as a [binary classification] task
Preparing features cost:0.10226154327392578
Imputation cost:0.36223816871643066
Categorical encoding cost:0.08554553985595703
fit_transform cost:0.5764789581298828
Injected a callback [EarlyStopping]. monitor:val_accuracy, patience:1, mode:max
>>>>>>>>>>>>>>>>>>>>>> Model Desc <<<<<<<<<<<<<<<<<<<<<<<
---------------------------------------------------------
inputs:
---------------------------------------------------------
['all_categorical_vars: (2)', 'input_continuous_all: (58)']
---------------------------------------------------------
embeddings:
---------------------------------------------------------
input_dims: [224, 192]
output_dims: [4, 4]
dropout: 0.3
---------------------------------------------------------
dense: dropout: 0
batch_normalization: False
---------------------------------------------------------
concat_embed_dense: shape: (None, 66)
---------------------------------------------------------
nets: ['fm_nets', 'dnn_nets', 'linear']
---------------------------------------------------------
fm: input_shape (None, 2, 4), output_shape (None, 1)
dnn: input_shape (None, 66), output_shape (None, 64)
linear: input_shape (None, 60), output_shape (None, 1)
---------------------------------------------------------
stacking_op: add
---------------------------------------------------------
output: activation: sigmoid, output_shape: (None, 1), use_bias: True
loss: binary_crossentropy
optimizer: Adam
---------------------------------------------------------

Epoch 1/10
250/250 [==============================] - 1s 5ms/step - loss: 190.8166 - accuracy: 0.4512 - val_loss: 0.7327 - val_accuracy: 0.4721
Epoch 2/10
250/250 [==============================] - 1s 5ms/step - loss: 0.6938 - accuracy: 0.5579 - val_loss: 0.6838 - val_accuracy: 0.5709
Epoch 3/10
247/250 [============================>.] - ETA: 0s - loss: 0.6873 - accuracy: 0.5558Restoring model weights from the end of the best epoch.
250/250 [==============================] - 1s 4ms/step - loss: 0.6874 - accuracy: 0.5558 - val_loss: 0.6859 - val_accuracy: 0.5709
Epoch 00003: early stopping
Model has been saved to:dt_output/dt_20201005 115846_fm_nets_dnn_nets_linear/fm_nets+dnn_nets+linear.h5
transform_X cost:0.6142635345458984
transform_y cost:0.0013625621795654297
{'loss': 0.6849680542945862, 'accuracy': 0.5625}
transform_X cost:0.6055903434753418
predict_proba cost:0.9855773448944092

In [89]:
preds = dt.predict_proba(df_test)

transform_X cost:0.5808217525482178
predict_proba cost:0.7503464221954346

In [8]:
preds

array([[0.0000000e+00],
       [2.1074396e-34],
       [1.0000000e+00],
       ...,
       [0.0000000e+00],
       [1.0000000e+00],
       [1.0000000e+00]], dtype=float32)

In [11]:
df_test

,id,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f21,f22,f23,f24,f25,f26,f27,f28,f29,f30
33553,33553,0.0,1.0,2.0,5.0,373.0,F,1.0,-10.4451,14.2361,...,5.0,13.7160,2.0,4.0,1.0,0.0,4.0,Dj,5.0,0.446514
9427,9427,NaN,NaN,0.0,3.0,2545.0,F,3.0,NaN,14.4675,...,3.0,13.9796,2.0,NaN,NaN,1.0,5.0,uI,5.0,1.554630
199,199,NaN,NaN,0.0,3.0,259.0,M,1.0,-2.2003,14.4432,...,3.0,NaN,1.0,3.0,NaN,1.0,5.0,OM,5.0,1.362672
12447,12447,0.0,4.0,NaN,3.0,561.0,F,3.0,-3.1835,14.0697,...,NaN,14.1202,NaN,1.0,NaN,1.0,NaN,mD,4.0,0.787004
39489,39489,1.0,4.0,4.0,4.0,2176.0,M,2.0,-10.4803,14.2086,...,3.0,14.0357,3.0,2.0,3.0,NaN,2.0,fO,5.0,0.836286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28567,28567,NaN,3.0,2.0,4.0,328.0,NaN,0.0,-4.6097,14.4183,...,1.0,14.0859,2.0,NaN,1.0,1.0,NaN,vx,NaN,0.446514
25079,25079,NaN,3.0,0.0,3.0,NaN,M,4.0,NaN,14.2009,...,NaN,13.8947,5.0,3.0,1.0,1.0,5.0,pB,3.0,NaN
18707,18707,NaN,NaN,3.0,5.0,1171.0,F,4.0,NaN,14.1821,...,NaN,NaN,5.0,3.0,2.0,NaN,NaN,lS,5.0,1.415980
15200,15200,NaN,2.0,0.0,4.0,545.0,F,5.0,2.0794,14.0637,...,5.0,13.9205,NaN,3.0,5.0,NaN,NaN,kT,1.0,-1.000000
5857,5857,NaN,NaN,2.0,3.0,247.0,NaN,5.0,-9.0777,14.3110,...,4.0,14.0873,2.0,4.0,3.0,0.0,2.0,fV,2.0,0.809707

In [84]:
preds = preds.flatten()
df_test.reset_index()
with open('deeptable_out.txt', 'w') as f:
    for (index, row) in df_test.reset_index().iterrows():
        id = row['id']
        f.write(f'{id},{preds[index]}\n')